<div class="gap"></div>

<div id="sec_jugadores" class="seccion fondo_gris">

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="fa fa-lg fa-fw fa-users"></i>INVITADOS
	      	
	      	</h2>
	    
	    </div>

	    <div class="mini_gap"></div>

	    <!-- FILTROS: -->
	    <div class="form-group">
	    	
	    	<a class="btn btn_filtro" href role="button" ng-click="direction(false)"><i class="fa fa-sort-alpha-asc"></i></a>

	    	<a class="btn btn_filtro" href role="button" ng-click="direction(true)"><i class="fa fa-sort-alpha-desc"></i></a>

	    	<a class="btn btn_filtro" href role="button" ng-click="sort('date')"><i class="fa fa-clock-o"></i> Recientes</a>

	    	<a class="btn btn_filtro" href role="button" ng-click="sort('ranking')"><i class="icon-copa"></i> Ranking</a>

	    	<div class="input-group busqueda">
	    		<input type="text" ng-model="search_term" class="form-control" id="direccion" placeholder="BÚSQUEDA">
	    		<div class="input-group-addon" ng-click="doSearch()"><i class="fa fa-search"></i></div>
	    	</div>

	    </div>

    	<div class="row">

    		<div class="col-xs-12 col-sm-6 col-md-6">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a class="link2modal"  data-toggle="modal" data-target="#modal01">

    					<img src="/images/IMG-USR04.jpg">

    				</a>

                	<div class="jug_resumen">

                		<a class="link2modal" data-toggle="modal" data-target="#modal01">

                			<h4 class="bold">Nombre del Invitado</h4>

                		</a>

                		<h5>País de Origen</h5>

                		<p>Doctor en matemática, informático y emprendedor. Ya durante sus estudios en Bonn y Erlangen comenzó a experimentar con routers inalámbricos y sistemas operativos de routers. En especial, empezó a interesarse por la construcción de redes libres comunitarias, no comerciales...</p>
                		
					</div>

				</div>

				<!-- Modal -->
				<div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					
					<div class="modal-dialog" role="document">
					
						<div class="modal-content">

							<div class="modal-header">

								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

								<h4 class="modal-title" id="myModalLabel">

									<strong>Nombre del Invitado</strong> | País de origen

								</h4>

							</div>

							<div class="modal-body">
					        	
								<img src="/images/IMG-USR04.jpg">

								<div class="mini_gap"></div>

								<p>
									Doctor en matemática, informático y emprendedor. Ya durante sus estudios en Bonn y Erlangen comenzó a experimentar con routers inalámbricos y sistemas operativos de routers. En especial, empezó a interesarse por la construcción de redes libres comunitarias, no comerciales. Así fue que en 2007 co-fundó la comunidad Freifunk en la ciudad de Erlangen. Más tarde se mudó a Berlín y desde entonces se dedica al desarrollo de software libre y a la expansión de redes de datos comunitarias en el marco de Freifunk-Berlín. Actualmente Freifunk es el principal canal de comunicación para miles de refugiados. Gaul es además fundador de la plataforma de internet PaperHive, que promueve la cooperación abierta entre científicos y académicos.</p>

								<p>
									Freifunk es una iniciativa sin fines de lucro para el desarrollo de redes libres, en la que cualquiera puede participar. Funciona a través de una red de routers que son montados por particulares en sus hogares y se conectan a internet a través de nodos. Mientras que la política debate hace años la implementación de un proyecto de este tipo, Freifunk se propuso poner a disposición de todos acceso libre a internet. Para proteger a los voluntarios de posibles penalidades en el caso de que algún usuario utilice la red libre para actividades ilegales, los datos se direccionan a través de un servidor de Freifunk o bien de uno en Suecia. Entretanto, Freifunk ha ganado socios incluso en la política: desde la azotea del municipio de Berlin-Kreuzberg, un router de Freifunk garantiza el acceso libre a internet en la zona.</p>

								<p class="links">
									<i class="fa fa-caret-right fa-fw"></i><a class="link_simple" href="https://andre.gaul.io/" target="_blank"><strong>andre.gaul.io</strong></a>
								</p>

								<p class="links">
									<i class="fa fa-caret-right fa-fw"></i><a class="link_simple" href="https://freifunk.net/en/" target="_blank"><strong>freifunk.net</strong></a>
								</p>

								<p class="links">
									<a href="#" class="link_simple fa fa-2x fa-facebook-square" target="_blank">
							        </a> &nbsp;

							        <a href="#" class="link_simple fa fa-2x fa-twitter-square" target="_blank">
							        </a>

						        </p>

					        </div>

					        <div class="modal-footer">

						        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

					    	</div>
						</div>
					</div>
				</div>

			</div>


		</div>

		<div class="mini_gap"></div>

		<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn btn_fondo_claro eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>

		<div class="mini_gap"></div>

	</div>

</div>
