<div class="gap"></div>

<div id="sec_torneosAnteriores" class="seccion fondo_gris">

    <div class="contenedor_sec">

	    <div class="titulo wow fadeIn">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="fa fa-book"></i><span>Comunes, economías de la colaboración</span>
	      	
	      	</h2>
 
	    </div>

	    <div class="mini_gap"></div>

        <div class="row text-center">
            <img src="/images/tapa-comunes.jpg?v.1.0" alt="Libro Comunes" class="img-rounded">
        </div>

	    <div class="mini_gap"></div>
        <div class="row text-center">
            <a style="visibility: visible; animation-name: fadeInLeft;" class="btn btn_fondo_claro eventime_button animated" href="/documents/libro_comunes.pdf?v.1.0" target="_blank"><i class="fa fa-download"></i> DESCARGAR LIBRO</a>
        </div>

	    <div class="mini_gap" id="acerca_de_posicion"></div>

	    <div class="mini_gap"></div>
	
	</div>

</div>


<!-- SEC: INFORMACIÓN -->
<div id="info01" class="info_seccion wow slideInRight">

	<div class="info_contenedor wow bounceInRight entrada-0s5">

		<h2><i class="fa fa-star"></i>LIBRO LIBRE</h2>

		<p>Comunes, economías de la colaboración es un libro colectivo que nace de las conversaciones generadas en el Encuentro Comunes, ocurrido en Buenos Aires en mayo de 2016 y en junio de 2017. Allí pensamos juntos los temas que marcan la disputa por otras economías: el futuro del trabajo y de los trabajadores, la sustentabilidad de los movimientos colaborativos, las batallas por el sentido y la construcción de nuevos relatos, la apropiación y distribución de valor y riqueza y los nuevos cambios culturales mientras ocurren, todo al mismo tiempo y ahora. </p> 

<p>
Los diálogos desbordaron los límites de cada evento y se abrieron camino a través de nuevos proyectos y campañas. Las conexiones más impensadas pueden provocar inspiraciones profundas. Con esa intención se gestó este libro colectivo, donde participan muchos de los que dieron forma a Comunes: Lala Deheinzelin, Neal Gorenflo, Mariana Fossatti y Jorge Gemetto, Trebor Scholz, Heloisa Primavera, Rodrigo Savazoni, Lorena Freites, Martín Burgos, Bianca Santana, Mariano Fressoli y Valeria Arza, Jorge Bragulat, Patricia Merkin, Leandro Monk, Adriana Benzaquen, Uwe Mohr y Marcela Basch.  </p>

	</div>

    <div class="mini_gap"></div>

</div>
