<div class="gap"></div>

<div id="sec_torneosAnteriores" class="seccion fondo_gris">

    <div class="contenedor_sec">

	      	<h2 class="text-center">
                <strong>
	        	Sumate a COMUNES 2018!
                </strong>
	      	
	      	</h2>
 
	    <div class="mini_gap"></div>

	</div>

</div>


<!-- SEC: INFORMACIÓN -->
<div id="info01" class="info_seccion wow slideInRight">

	<div class="info_contenedor wow bounceInRight entrada-0s5">

		<h2><i class="fa fa-star"></i>INSCRIPCIONES ABIERTAS</h2>

		<p>
            Si querés asistir a las actividades de Comunes 2018 completa tu registro haciendo <a href="https://docs.google.com/forms/d/e/1FAIpQLSejKKMSvEyevD-ESGJ3QTvnnghF9T5Kwm-C8dxONEzmramRXw/viewform" target="_blank">clic aquí</a>. 
        </p> 
        <p>
            Te recordamos que la inscripción es general para todo el evento.
        </p> 
        <p>
        <strong>
            Cierre de inscripciones:  30 de julio.  
        </strong>
        </p> 
        <p>
            Todas las actividades son libres y gratuitas (ingreso sujeto a disponibilidad de las salas). 
        </p> 

	</div>

    <div class="mini_gap"></div>

</div>





<div id="about_menu">
		
	<div class="clear"></div>

	<div class="wow fadeIn tabs_about sec-fondo-oscuro">
		    
	    <div class="mask">


            <div class="titulo wow fadein">

                <h2 class="sombra_gris_blanco">
                    SUMÁ TU ACTIVIDAD A COMUNES

                </h2>

            </div>

            <h3 class="uppercase" style="color: white !important;">
                ¡La programación se construye entre todos!
            </h3>
<div class="gap"></div>
            <p>
              <ul class="about_columns">
                <li class="list right">
                    <h4 class="uppercase">
                        Este año COMUNES dedica su programación a 4 temáticas:
                    </h4>
                </li>
                <li class="list con_sangria">
                    <h4><i class="fa fa-caret-right"></i> Políticas para el caos: ¿cómo dar el salto de las prácticas a las políticas, y en el camino elaborar ideas o políticas públicas?</h4>
                    <h4><i class="fa fa-caret-right"></i>Economías activistas: ¿cómo incidir en el cambio de paradigma económico?   </h4>
                    <h4><i class="fa fa-caret-right"></i>Ciudades para todos: como gobernar los comunes urbanos </h4>
                    <h4><i class="fa fa-caret-right"></i>Abrir las tecnologías: herramientas para democratizar la producción </h4>
                </li>
            </ul>


        </p>
    </div>
</div>

<div id="sec_apoyo" class="seccion">

    <div class="contenedor_sec">

	    <div class="titulo wow fadein">

	      	<h3 class="sombra_gris_blanco">

                Sobre cualquiera de estos temas podés proponer una o más actividades en los siguientes formatos:  

	      	</h3>

	    </div>

      <ul class="">
        <li> 
             Charlas relámpago: presenta tu iniciativa en 5 minutos
        </li>
        <li> 
            Charla temática (1 hs máximo)
        </li>
        <li> 
            Taller (1.30 horas máximo)
        </li>
        <li> 
            Reunión abierta: propone un tema para el debate  (1.30 horas)
        </li>
        <li> 
            Performance, proyección o exhibición artística
        </li>

        </ul>

<p>
    <strong>Tenés tiempo para inscribir tu propuesta hasta el 15 de julio. </strong>
</p>

<div class="gap"></div>
<h3 class="text-center">
    
    Inscribí tu actividad haciendo <a href="https://goo.gl/forms/6beDCVAKkO45pnfo1" target="_blank"> <strong>clic aquí</strong></a>
</h3>
<div class="gap"></div>

<p>
    Las propuestas serán seleccionadas por el equipo de Comunes, de acuerdo a la disponibilidad de tiempo y espacio. El 1 de agosto notificaremos a quienes hayan inscrito propuestas.

</p>
 

<p>
    ¿Dudas, preguntas? Comunicate con nuestro equipo a: <a href="mailto:encuentrocomunes@gmail.com">encuentrocomunes@gmail.com</a>
</p>



    </div>
</div>



















